@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #293827, #3D463C, #5A7056);
    
}

h1 {
    color: #293827;
    text-align: center;
    text-shadow: 2px 3px 5px #1d5e146b;
}

h2 {
    color: #293827;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}